@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');


html {
	font-family: 'Oxanium', sans-serif;
	text-align: center;
	scroll-behavior: smooth;
	box-sizing: border-box;
	cursor: crosshair;
}
body {
	
   
  }


h1 {
	display: block;
	font-size: 6rem;
	color:white;
	text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 3px 6px 12px rgba(77, 180, 73, 0.64);
	vertical-align: center;
	display: flex; 
	flex-wrap: wrap;
  	justify-content: center;
}

p { 
}

.content {
	background-image: url(/img/GIF-HORIZONTAL-5.gif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.choice {
	color: rgba(238, 231, 240, 0.5);
	font-size: 7rem;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c285ff 0px 0px 50px, #c285ff 0px 0px 75px;
	border-style: none;
	vertical-align: top;
	display: flex; 
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	cursor: context-menu;
}

.choice:hover {
	color: rgba(96, 99, 139, 0.5);
	cursor: context-menu;

}

.blue_pill {
	float: left;
	margin: 10px;
	text-decoration: none;
	cursor: context-menu;

}

.red_pill {
	float: right;
	margin: 10px;
	text-decoration: none;
	cursor: context-menu;

}

.footer {
	display: flex;
    align-items: stretch;
	float: bottom;
	
}

