@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');


html {
	font-family: 'Oxanium', sans-serif;
	text-align: center;
	scroll-behavior: smooth;
	box-sizing: border-box;
	cursor: crosshair;
}

body {	   
}

h1 {
	display: block;
	font-size: 6rem;
	color:white;
	text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 3px 6px 12px rgba(239,239,239,0.64);
	vertical-align: center;
	display: flex; 
	flex-wrap: wrap;
  	justify-content: center;
	animation: text_reveal 2s ease forwards;
	animation-delay: 2s;
}

p {
	font-size: 1rem;
	color:rgb(133, 130, 124);  
}

.choice {
	color: rgb(234, 222, 236);
	font-size: 7rem;
	text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c285ff 0px 0px 20px, #c285ff 0px 0px 30px, #c285ff 0px 0px 40px, #c285ff 0px 0px 50px, #c285ff 0px 0px 75px;
	background-color: rgba(66, 63, 63, 0.712);
	border-style: groove;
	border-color: rgb(48, 46, 46);
	border-radius: 4px;
	vertical-align: top;
	align-items: center;
	justify-content: center;
}

.choice:hover {
	color: white;

}

.blue_pill {
	float: left;
	margin: 50px;
	padding: 100px;
	text-decoration: none;

}

.red_pill {
	float: right;
	margin: 50px;
	padding: 100px;
	text-decoration: none;

}

.status {
	border: 6px solid transparent;
	margin-top: 100px;
	margin-bottom: 1px;
}

.matrix {
	object-fit: cover;
	
}
.lab {
	object-fit: cover;
	
}