@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200&display=swap');


* {
	font-family: 'Oxanium', sans-serif;
	text-align: center;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	cursor: crosshair;
	margin: 0;
  }






header {
  padding: 20%;
	background-image: url(./img/GIF-HORIZONTAL-5.gif);
	background-color: transparent;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

h1 {
  	display: block;
	font-size:5vw;
	color:white;
	text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 3px 6px 12px rgba(77, 180, 73, 0.64),  #abf1bd 0px 0px 75px;
	vertical-align: center;
	display: flex; 
	flex-wrap: wrap;
  	justify-content: center;
  	padding-top: 5vw;
  	background-color: transparent;
}


.lab {
    position: absolute;
    top: 32vw;
    left: 15vw;
    background-color: transparent;
    color: white;
    font-size: 6vw;
    text-decoration: none;
    border-style: none;
    padding: 16px 30px;
    margin: 4px 2px;
    border: none;
    cursor: alias;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
}

.lab:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c285ff 0px 0px 20px, #c285ff 0px 0px 30px, #c285ff 0px 0px 40px, #c285ff 0px 0px 50px, #c285ff 0px 0px 75px;
    color: white;
    cursor: alias;
    opacity: 1
}

.shell {
    position: absolute;
    top: 32vw;
    right: 10vw;
    background-color: transparent;
    color: white;
    font-size: 6vw;
    text-decoration: none;
    border-style: none;
    padding: 16px 30px;
    margin: 4px 2px;
    border: none;
    cursor: alias;
    border-radius: 5px;
    text-align: center;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
}

.shell:hover {
    text-shadow: #FFF 0px 0px 5px, #FFF 0px 0px 10px, #FFF 0px 0px 15px, #c285ff 0px 0px 20px, #c285ff 0px 0px 30px, #c285ff 0px 0px 40px, #c285ff 0px 0px 50px, #c285ff 0px 0px 75px;
    color: white;
    cursor: alias;
    opacity: 1
}

@media screen and (max-width: 600px) {
  .lab {
    float: none;
    display: block;
  }
  
  .shell {
    float: none;
    display: block;
  }
}

footer {
	padding: 0.2em;
	background-color: black;
	border-style: inset;
  border-width: 4px;
  
}


.overlay {
            height: 0%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
            background-color: black;
            opacity: 0.9;
            overflow-y: hidden;
            transition: 0.3s;

        }


  
        .overlay-content {
            position: relative;
            top: 25%;
            width: 100%;
            text-align: center;

        }


.overlay a {
            padding: 10px;
            text-decoration: none;
            font-size: 40px;
            color: white;
            display: block;
            transition: 0.3s;
        }
  
        .overlay a:hover,
        .overlay a:focus {
            color: black;
        }
  
        .overlay .closebtn {
            position: absolute;
            top: 10px;
            right: 35px;
            font-size: 70px;
        }


 /* map 
.map {
  overflow: hidden;
  position: relative;
}


 /* map Button 
.map-button {
	color: white;
	font-size: 3vw;
  border: none;
	padding: 0;
  margin: 0;
  background-color: transparent;
  outline: none;
  text-align: center;
  float: left;
  opacity: 0.6;
  transition: 0.3s;
  position: relative; 

}


.map-button:hover {
	text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5), 3px 6px 12px rgba(77, 180, 73, 0.64),  #abf1bd 0px 0px 75px;
  color: white;
  cursor: alias;
  display: block;
  overflow: visible;


 
}

/* Show the dropup menu on hover 
.map-button:hover .map-sub {
  display: block;
  bottom: 100%;
  margin-bottom: 0.125rem;
  visibility: visible;


}


/* map content 
.map-sub {
  
  color: red;
  background-color: transparent;
  border: 1px solid red;
  width: 100%;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  visibility: hidden;
  z-index: 1;
  
}


.map-sub .header {
  background: red;
  padding: 16px;
  color: white;
}

.map-sub .img {
  display: cover;
}

.map-sub a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}




/* Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}

*/









